body {
   
    font-family: 'Open Sans', sans-serif;
    line-height: 18px;  
    overflow: auto;
    background-color:#333;

}
body.no-scrolling {
    
    overflow: hidden;
}


* {
    box-sizing: border-box; 
}

.container::after {
    content:"";
    display: block;
    clear: both;
    
}
.container {
   
    margin: 0 auto;
    /* background-color:rgb(110, 110, 110); */
    position: relative;
    max-width:1366px;
    
      
}

    .container-flex {
        max-width:1677px;
        height: 3000px;
        display: flex;
        justify-content: center; 
        overflow: hidden;
    }

    #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }





