.working-hours ul {
    list-style:none;
    color:rgb(221, 221, 221);
    margin:0;
    margin-top:20px; 
    padding:0;
    padding:10px;
    flex-basis: 50%;
    
}
.working-hours {
    margin-top:20px;
}
@media(min-width:1366px) {
    .working-hours {
        display: flex;
        overflow: hidden;
    }
    .working-hours ul {
        margin-top:0;
        padding-left: 20px;
    }
}
.working-hours ul li {
    padding:5px 0;
    font-size: 16px;
    color:rgb(211, 211, 211);
}
.working-hours ul li i {
    margin-right: 5px;
}
.working-hours ul li span {
    font-weight: 600;
}
.working-hours img  {
    display: block;
    margin: 0 auto;
    margin-top:20px;
    /* max-width: 100%; */
    flex-basis: 50%;
}
.coupon {
    padding:12px 15px;
    background-color:orange;
    border:none;
    font-size: 18px;
    text-transform: uppercase;
    display: block; 
    margin-top:10px;
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px rgb(236, 139, 11);
    font-weight: 600;
   
}
.space {
    padding-left: 45px;
}
.coupon-container {
    background-color:#fff;
    padding:10px;
    position: fixed;
    top: 0px;
    left: 0px;  
    height: 100%;
    transform:translateX(-100%);
    z-index: 10;
    width:100%;
    transition: .3s all ease;
    display: flex;
    visibility: hidden;
    opacity: 0;
    margin: auto;


}
.overlay-container {
    display: block;
    margin: auto;
    text-align: center;
}
.coupon-container p {
    margin: auto;
    font-size:18px;
    font-weight: 600;
    padding-bottom:20px;
}
.want-discount {
    background-color:orange;
    padding:5px 7px;
    margin-top:10px;
    display: block;
}
.close-overlay:hover {
    color:orangered;
}
.close-overlay {
    position: absolute;
    right:30px;
    top:30px;
    font-size: 40px;
    transform:scaleX(1.5);
    cursor: pointer;
}
.overlay-opened {
    visibility: visible;
    opacity: 1;
    transform:translateX(0);
}
.img img {
    max-width: 100%;
    margin-top: 5px;
}
.img {
    flex-basis: 50%;
    overflow: hidden;
}
.about-company {
    flex-basis: 50%;
    
}


